<h1>Manufacturers</h1>
<% @manufacturers.each do |man| %>
	<%= man.name %>  <%= link_to "Edit", admin_edit_manufacturer_path(man) %>
	<ul>
		<% man.frames.each do |f| %>
			<li><%= f.name %></li>
		<% end %>
	</ul>
<% end %>