<h1>Edit Frame</h1>
<%= form_for [:admin, @frame] do |f| %>
	<%= render 'form', f: f %> <br>
	<%= submit_tag "Edit Frame" %>
<% end %>
<%= button_to "Delete frame", admin_frame_path(@frame), :method => "delete" %>