<div class="menu"><%= link_to "Browse all bikes", bikes_path %></div>
<div class="menu"><%= link_to "Browse by manufacturer", manufacturers_path %></div>
<div class="menu"><%= link_to "Browse by discipline", disciplines_path %></div>
