<div id="reviews">
<h1>Reviews</h1>
<% reviews.each do |review| %>
<div id="rating"><b>Rating:</b> <%= review.rating %> / 10 </div><br>
<div id="user"><b>User:</b> <%= review.user.username %></div> <br>
<div id="comment"><b>Comment:</b> <%= review.comment %></div> <br>
	<hr>
<% end %>
</div>