<h1>Reviews</h1>
<% reviews.each do |review| %>
	<b>Rating:</b> <%= review.rating %> / 10 <br>
	<b>User:</b> <%= review.user.username %> <br>
	<b>Comment:</b> <%= review.comment %> <br>
	<hr>
<% end %>