<div class="bikes show">
	<h1 id='full_name'></h1>
	<ul>
		<li id='components'></li>
		<li id='size'></li>
		<li id='color'></li>
		<li id='disciplines'></li>
		<li id='part_number'></li>
		<div id="qty_available"></div>
	</ul>
	<h3 id='price'></h3>
	<%= button_for_cart_or_edit(@bike) %>
	<hr>
	<%= render_review_form(@review) %>
	<%= render_reviews(@bike) %>
</div>
