<h1>Edit data</h1>
Choose the category of data to edit: <br>
<%= link_to "Manufacturers", admin_manufacturers_path %> <br>
<%= link_to "Frames", admin_frames_path %> <br>
<%= link_to "Bikes", admin_bikes_path %> <br>
<%= link_to "Disicplines", admin_disciplines_path %> <br>